@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: #83c5be;
    --secondary-color: #ffddd2;
    --dark-color: #1d3557;
    --light-color: #f8f9fa;
    --font: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font);
    font-weight: 400;
    background-color: var(--light-color);
    color: var(--dark-color);
    line-height: 1.6;
    /* width: 100vw;
    height: 100vh; */
}

main {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 0;
    padding: 0 20px;
    color: var(--dark-color);
}

.weatherfivedays {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Utilities styling */

.container {
    max-width: 1400px;
    margin: 0 auto; /*Stretch beyond 1100px --> container will stay at 1100 px*/
    overflow: auto; /*Remove 10px margin height defined for h1*/
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center; 
}

.btn {
    display: inline-block;
    font-size: 1rem;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-family: var(--font);
    font-weight: bold;
    visibility: visible;
}

label {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 10px;
    color: var(--dark-color);
}

input#city {
    width: 400px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 3px;
    margin: 20px 10px;
    background: var(--light-color);
    color: var(--dark-color);
    border: 0;
    border-bottom: 1px var(--dark-color) solid;
}

input#city:focus {
    background: var(--light-color);
    outline: none;
}
