@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: #0096c7;
    --secondary-color: #caf0f8;
    --dark-color: #03045e;
    --light-color: #f8f9fa;
    --font: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font);
    font-weight: 400;
    background-color: var(--light-color);
    color: var(--dark-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

h1, h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 10px 0;
    color: var(--dark-color);
}

h1.name,
h2.temp {
    font-size: 1.8rem;
    margin: 0;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px 0;
    color: var(--dark-color);
}

input#city {
    width: 400px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 3px;
    margin: 20px 10px;
    background: var(--light-color);
    color: var(--dark-color);
    border: 0;
    border-bottom: 1px var(--dark-color) solid;
}

input#city:focus {
    background: var(--light-color);
    outline: none;
}

img {
    width: 65%; /*Keep images within container (take 100% of container width)*/
}


.container.weatherfivedays {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0;
    visibility: hidden;
}

.flex.dayone,
.flex.daytwo,
.flex.daythree,
.flex.dayfour,
.flex.dayfive {
    width: 17vw;
    height: auto;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 10px;
    box-shadow: #adb5bd 0px 1px 3px;
    text-align: center;
}

/* Utilities styling */

.container {
    max-width: 1200px;
    margin: 0 auto; /*Stretch beyond 1100px --> container will stay at 1100 px*/
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center; 
}

.btn {
    display: inline-block;
    font-size: 1rem;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-family: var(--font);
    font-weight: bold;
    box-shadow: #adb5bd 0px 1px 3px;
}

.btn:hover {
    transform: scale(0.95);
    transition-duration: 0.3s;
}

label {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 10px;
    color: var(--dark-color);
}

/* Mobile responsiveness */
@media(max-width: 500px) {
    body {
        display: flex;
        justify-content: center;
    }

    .container {
        margin: 5px 10px;
        padding: 2px;
    }

    .container.weathernow {
        margin-top: 0;
        margin-bottom: 20px;
        padding: 5px;
    }

    .container.weatherfivedays {
        width: 90vw;
        display: flex;
        flex-direction: column;
        padding: 0 0px;
        margin: 15px;
        background-color: var(--secondary-color);
        border-radius: 10px;
        box-shadow: #adb5bd 0px 1px 3px;
        align-items: center;
        justify-items: center;
    }

    .flex.dayone,
    .flex.daytwo,
    .flex.daythree,
    .flex.dayfour,
    .flex.dayfive {
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px 0px;
        margin: 0;
        justify-content: space-between;
        align-content: center;
        background-color: var(--secondary-color);
        box-shadow: none;
        border-bottom: 1px var(--dark-color) solid;
        border-radius: 0px;
    }

    .flex.dayfive {
        border-bottom: none;
    }

    h1, 
    h2, 
    p {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 1rem;
    }

    h1.name {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    img {
        width: 30vw;
    }

    img.dayone,
    img.daytwo,
    img.daythree,
    img.dayfour,
    img.dayfive {
        width: 15vw;
    }

    .btn {
        display: inline-block;
        font-size: 1rem;
        padding: 5px 10px;
    }
    label {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2;
        margin: 0px;
        color: var(--dark-color);
        display: none;
    }

    input#city {
        width: 60vw;
        font-size: 1rem;
        margin: 5px;
        padding: 5px;
        border: none;
        border-bottom: 1px var(--dark-color) solid;
        box-shadow: none;
        border-radius: 0;
    }

    .header {
        margin-top: 20px;
        justify-content: space-between;
    }
}
